<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>views.GetFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern> /tryme </url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetFormServlet</servlet-name>
        <servlet-class>views.GetFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetFormServlet</servlet-name>
        <url-pattern>/form-get</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoginFormServlet</servlet-name>
        <servlet-class>views.LoginFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginFormServlet</servlet-name>
        <url-pattern>/LoginForm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>RegistrationFormServlet</servlet-name>
        <servlet-class>views.RegistrationFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegistrationFormServlet</servlet-name>
        <url-pattern>/RegistrationForm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>views.HomeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>PatientFormServlet</servlet-name>
        <servlet-class>views.PatientFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatientFormServlet</servlet-name>
        <url-pattern>/PatientForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PatientSummaryServlet</servlet-name>
        <servlet-class>views.PatientSummaryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>PatientSummaryServlet</servlet-name>
        <url-pattern>/PatientSummary</url-pattern>
    </servlet-mapping>


</web-app>